<h3>Thanks for signing up!</h3>
<p>Please click the link below to confirm your registration.</p>
<hr/>
<h3>CONFIRM BY VISITING THE LINK BELOW:</h3>
<a href='http://socialnetwork/registration/confirm/<?php echo $user['User']['emailtoken'] ?>' alt="">http://socialnetwork/registration/confirm/<?php echo $user['User']['emailtoken'] ?></a>
<hr/>
<p>
	If you do not want to confirm, simply ignore this message.
</p>
