.main {
	margin: auto;
	padding: 30px;
}
.main_avatar {
	margin-left: 60px;
	height: 220px;
	width: 220px;
}
.main_name {
	text-align: center;
}
.main__users {
	background-color: #eee;
	margin: auto;
}
.main__count {
	background-color: #CEE3F6;
}
.main_indent {
	margin-left: 20px;
}
