.post-toolbar {
	text-align: right;
	float: right;
	margin-top: -7px;
	margin-right: -10px;
	font-size: 14px;
}

.post-toolbar__edit {
}

.post-toolbar__delete {
	font-size: 16px;
}

.post-toolbar__delimiter {
	/*font-size: 17px;*/
	/*color: #777;*/
}

.post-toolbar__margin-right {
	margin-right: 2px;
}