.page {
  width: 800px;
  margin: 0 auto;
  background-color: #EFFBFB;
  border-left: 1px solid #CEE3F6;
  border-right: 1px solid #CEE3F6;
  border-bottom: 1px solid #CEE3F6;
}

.registration {
  margin: 0 auto;
}

.registration__title {
  margin-left: 30px;
}

.registration__center {
  margin-left: 150px;
}

.header {
  width: 800px;
  height: 69px;
  margin: 0 auto;
  background-color: #CEE3F6;
}

.header__projectName {
  margin: 0px;
  padding: 20px;
}

.header__link {
  margin-top: 10px;
}

.header__projectName-link:hover {
  text-decoration: none;
}

.avatar {
  width: 200px;
  height: 200px;
}

.main {
  margin: auto;
  padding: 30px;
}

.main_avatar {
  margin-left: 60px;
  height: 220px;
  width: 220px;
}

.main_name {
  text-align: center;
}

.main__users {
  background-color: #eee;
  margin: auto;
}

.main__count {
  background-color: #CEE3F6;
}

.main_indent {
  margin-left: 20px;
}

.footer {
  width: 800px;
  height: 69px;
  margin: 0 auto;
  background-color: #CEE3F6;
}

.footer__company {
  padding: 25px;
}

.profile__title {
  text-align: center;
}

.profile__loadfhoto {
  padding-left: 45px;
}

.posts {
  /*padding: 0 30px;*/
  /*background: yellow;*/
}

.posts_supscription-posts {
  min-height: 100px;
  margin-bottom: 10px;
}

.posts__header_underline {
  border-bottom: 1px solid #eee;
}

.posts__single-post {
  margin-top: 20px;
}

.posts__post {
  /*margin-bottom: 20px;*/
}

.posts__header-count {
  padding-left: 25px;
  /*border-bottom: 1px solid #eee;*/
  /*margin-bottom: 10px;*/
}

.post__user-avatar-image {
  padding: 0;
  border: 1px solid #eee;
  background-color: white;
}

.post__undertitle-hr {
  margin: -3px 0 7px;
}

.post__comments-count {
  /*text-align: right;*/
  float: right;
}

.posts__right-floating-section {
  text-align: right;
  float: right;
  margin-top: -5px;
}

.posts__edit {
  font-size: 11px;
}

.posts__post-edited {
  font-size: 11px;
}

.posts__post-updated-clock {
  float: left;
  margin-top: 1px;
  margin-right: 2px;
}

.posts__title-section {
  margin-bottom: 10px;
}

.posts__title-edit {
  margin-left: 11px;
}

.post__under-the-post-body {
  overflow: hidden;
}

.posts__post-updated {
  float: left;
}

.panel-post {
  position: relative;
}

.panel-post>.panel-heading:after,
.panel-post>.panel-heading:before {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
}

.panel-post>.panel-heading:after {
  border-width: 7px;
  border-right-color: #EDEDED;
  margin-top: 1px;
  margin-left: 2px;
}

.panel-post>.panel-heading:before {
  border-right-color: #ddd;
  border-width: 8px;
}

.subscribe-button_large {
  margin-top: 10px;
}

.subscribe-button_small {
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  padding-top: 2px;
  margin-top: 22px;
}

.subscribers-and-subscriptions-count__subscribers-title {
  margin-bottom: 0;
  display: none;
}

.subscribers-and-subscriptions-count__subscriptions-title {
  margin-bottom: 0;
  display: none;
}

.subscription-list {
  min-height: 100px;
  margin-bottom: 20px;
}

.subscription-list__avatar {
  background-color: white;
  border: 1px solid #eee;
}

.subscription-list__header_underline {
  border-bottom: 1px solid #eee;
}

.subscription-list__subscription {
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.subscription-list__unsubscribe-button {
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  padding-top: 2px;
  margin-top: 22px;
}

.like {
  text-align: right;
}

._not-active {
  opacity: 0.6;
}

.like:hover {
  cursor: pointer;
}

.event {
  background-color: #CEE3F6;
  border-radius: 10px;
  padding: 5px 40px;
  margin: 10px;
}

.event__view-event {
  float: right;
  margin-right: 10px;
}