.panel-post {
	position:relative;
}
.panel-post>.panel-heading:after,.panel-post>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel-post>.panel-heading:after{
	border-width:7px;
	border-right-color:#EDEDED;
	margin-top:1px;
	margin-left:2px;
}
.panel-post>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}