.subscribers-and-subscriptions-count {
	
}

.subscribers-and-subscriptions-count__subscribers-title {
	margin-bottom: 0;
	display: none;
}
.subscribers-and-subscriptions-count__subscriptions-title {
	margin-bottom: 0;
	display: none;
}