.subscription-list {
	min-height: 100px;
	margin-bottom: 20px;
}

.subscription-list__avatar {
	background-color: white;
	border: 1px solid #eee;
}

.subscription-list__header_underline {
	border-bottom: 1px solid #eee;
}

.subscription-list__subscription {
	padding: 10px 0;
	border-top: 1px solid #eee;
}

.subscription-list__unsubscribe-button {
	font-size: 10px;
	font-weight: bold;
	height: 20px;
	padding-top: 2px;
	margin-top: 22px;
}