.posts {
	/*padding: 0 30px;*/
	/*background: yellow;*/
}

.posts_supscription-posts {
	min-height: 100px;
	margin-bottom: 10px;
}

.posts__header_underline {
	border-bottom: 1px solid #eee;
}

.posts__single-post {
	margin-top: 20px;
}

.posts__post {
	/*margin-bottom: 20px;*/
}

.posts__header-count {
	padding-left: 25px;
	/*border-bottom: 1px solid #eee;*/
	/*margin-bottom: 10px;*/
}

.post__user-avatar-image {
	padding: 0;
	border: 1px solid #eee;
	background-color: white;
}

.post__undertitle-hr {
	margin: -3px 0 7px;
}

.post__comments-count {
	/*text-align: right;*/
	float: right;
}

.posts__right-floating-section {
	text-align: right;
	float: right;
	margin-top: -5px;
}
.posts__edit {
	font-size: 11px;
}
.posts__post-edited {
	font-size: 11px;
}

.posts__post-updated-clock {
	float: left;
	margin-top: 1px;
	margin-right: 2px;
}

.posts__title-section {	
	margin-bottom: 10px;
}

.posts__title-edit {
	margin-left: 11px;
}

.post__under-the-post-body {
	overflow: hidden;
}

.posts__post-updated {
	float: left;
}