.header {
	width: 800px;
	height: 69px;
	margin: 0 auto;
	background-color: #CEE3F6;
}
.header__projectName {
	margin: 0px;
	padding: 20px;
}
.header__link {
	margin-top: 10px;
}

.header__projectName-link:hover {
	text-decoration: none;
}